<!DOCTYPE html>
<html>
  <head>
    <title>ECE Checklist | Cornell IEEE</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-nav">
      <div class="inside">
        <h1><span>check</span>list</h1>
        <nav>
          <a href="http://ieeecornell.org">Back to Cornell IEEE &rarr;</a>
        </nav>
      </div>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
